* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
  
  header {
    padding: 20px;
    width: 100%;
    background-color: tomato;
    font-size: 25px;
    font-weight: 700;
  }
  
  header nav table tr {
    color: #000000;
  }
  
  .title,
  .table,
  .form {
    margin: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
  }
  
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title a button {
    background-color: rgb(74, 234, 74);
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .title a button:hover {
    background-color: rgb(171, 241, 171);
  }
  
  /* Update the background color for the update button */
  .btn-update {
    background-color: rgb(1, 69, 255);
    color: #fff;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  /* Change the table border style to be thicker */
  .table table {
    width: 100%;
    font-size: 25px;
    text-align: center;
    border-collapse: collapse;
  }
  
  .table table tr th,
  .table table tr td {
    padding: 5px;
    border: 2px solid #000; /* Set the border thickness and color */
  }
  
  .input {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  label {
    font-size: 22px;
  }
  
  .input input {
    width: 90%;
    font-size: 22px;
    padding: 5px;
  }
  
  .button button {
    background-color: rgb(31, 31, 221);
    color: #fff;
    padding: 8px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 96%;
    margin-top: 10px;
  }
  
  .btn-delete {
    background-color: rgb(255, 35, 35);
    color: #fff;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  .btn-delete:hover {
    background-color: rgb(255, 73, 73);
  }
  
  .btn-update:hover {
    background-color: rgb(80, 127, 255); /* Change the hover background color for the update button */
  }
  
  .action {
    display: flex;
    justify-content: center;
  }
  